<html>
    <head>
        <title>About</title>
          <link rel=icon href="/img/calc.png">
        <header><h1>{{title}}</h1> 
    <a href="/">Home</a>
<a href="/about">About</a>
        </header>
         
      <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main">
        
        <img class="portraits" src="/img/Akram.jpg">
        <p>Developer :Akram Sheriff   <br> 
        <a href="mailto:akramsheriff05042000@gmail.com"
        target="blank"
        class="contactlink">Mail&#128279;</a>
            
            
        </p>
        </div>
     <footer>{{credits}}</footer>   
    </body>
</html>